
.react-multi-carousel-list {
    margin: 8px;
}

.pet {
    margin: 8px;
    display: flex;
    justify-content: center;
}

.item {
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.equip-button {
    background-color: rgb(255, 165, 0);
    color: white;
    border-radius: 5px;
    padding: 20px;
    border: none,
}
/*
button:hover {
    background-color: white;
    color: rgb(255, 165, 0);
}*/
