.custom-icon1 {
    background-color: rgb(111, 180, 220);  /* Adicione o estilo do fundo branco aqui */
    border-radius: 50%;       /* Se quiser um ícone circular */
    /* Outros estilos conforme necessário */
}
.custom-icon2 {
    background-color: rgb(220, 196, 111);  /* Adicione o estilo do fundo branco aqui */
    border-radius: 50%;       /* Se quiser um ícone circular */
    /* Outros estilos conforme necessário */
}
.custom-icon3 {
    background-color: rgb(111, 220, 131);  /* Adicione o estilo do fundo branco aqui */
    border-radius: 50%;       /* Se quiser um ícone circular */
    /* Outros estilos conforme necessário */
}
.custom-icon4 {
    background-color: rgba(220, 111, 189);  /* Adicione o estilo do fundo branco aqui */
    border-radius: 50%;       /* Se quiser um ícone circular */
    /* Outros estilos conforme necessário */
}
.custom-icon5 {
    background-color: rgba(148, 148, 148, 0.7);  /* Adicione o estilo do fundo branco aqui */
    border-radius: 50%;       /* Se quiser um ícone circular */
    /* Outros estilos conforme necessário */
}